mujoco
mujoco-mjx
brax
wandb
mediapy
dm_control
tqdm
# pip install -U "jax[cuda12_pip]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# pip install -U numba

# for headless gpu rendering setup
# sudo apt-get install libglfw3 libglew2.0 libgl1-mesa-glx libosmesa6
# conda install -c conda-forge glew
# conda install -c conda-forge mesalib
# conda install -c anaconda mesa-libgl-cos6-x86_64
# conda install -c menpo glfw3

# conda env config vars set MUJOCO_GL=egl PYOPENGL_PLATFORM=egl
# conda deactivate && conda activate base